extends layout

block content
    h1= title
    #table.col-md-12
      if webpage
        div.col-md-6
          p #{webpage.created_at}              
          h1
            a(href="/"+model+"/"+webpage._id) #{webpage.url}
          if webpage.input
            h2 #{webpage.title}
            h3 from input: #{webpage.input}
            h4
              a(href="/"+model+"/requests/"+webpage._id) Requests
            h4
              a(href="/"+model+"/responses/"+webpage._id) Responses
          if webpage.webpage
            h2= webpage.method
            h2= webpage.status
            h3
              a(href="/page/"+webpage.webpage) from #{webpage.webpage}  
        div.col-md-6
          if webpage.screenshot
            a.colorbox(href="data:image/png;base64," + webpage.screenshot)
              img(width="100%",src="data:image/png;base64," + webpage.screenshot)
        div.col-md-12
          hr
          if webpage.content
            pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.content}
          else if webpage.payload
            pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.payload}
      else if webpages
        if webpages.length
          table.table.table-striped(width="50%")
            tr
              th created_at
              th url
            each webpage in webpages
              tr
                td= webpage.created_at
                td
                  if webpage.input
                    p= webpage.input + " -> "
                  if webpage.url
                    a(href="/" + model + "/" +webpage._id) #{webpage.url}
                  if webpage.title
                    p= webpage.title
                  if webpage.method
                    p= webpage.method
                  if webpage.status
                    p= webpage.status
                  if webpage.thumbnail     
                    a.colorbox(href="data:image/png;base64," + webpage.screenshot)
                      img(src="data:image/png;base64," + webpage.thumbnail)
                  if webpage.webpage
                    p from page: 
                      a(href="/page/"+webpage.webpage) #{webpage.webpage}
      else
        div.alert.alert-warning
          p No data