link(rel="stylesheet", href=rootPath + "css/bootstrap.min.css")
link(rel="stylesheet", href=rootPath + "code-prettify/loader/prettify.css")
link(rel="stylesheet"  href=rootPath + "colorbox/colorbox.css")
link(rel="stylesheet"  href=rootPath + "diff2html/diff2html.min.css")
link(rel="stylesheet", href=rootPath + "stylesheets/style.css")
