- var win10Chrome = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'
- var win10Edge = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134'
- var winFirefox = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:62.0) Gecko/20100101 Firefox/62.0'
- var winIE11 = 'Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0) like Gecko'
- var iphone6 = 'Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1'

#register_form.modal.col-12(role="dialog")
  .modal-dialog.modal-dialog-centered(style="max-width:50%;")
    .modal-content
      .modal-body
        form(method="post" action=rootPath)
          label(for="url") URL: 
          textarea.col-12(id="url", name="url", rows=2) http://
          br
          .row
            div.col-6
              label.col-12(for="userAgent") User-Agent: 
              select.col-12(name='userAgent' id='userAgent' multiple)
                option(value=win10Chrome, selected= true) win10-chrome
                option(value=winFirefox) win-Firefox
                option(value=winIE11) win-IE11
                option(value=iphone6) iphone6
                option(value=win10Edge) win10-edge

            div.col-6
              label.col-12(for="lang") Browser Language: 
              select.col-12(name='lang' id='lang' multiple)
                option(value='ja', selected= true) ja
                option(value='en') en
          br
          label.col-2(for="referer") Referer: 
          input.col-10(type="text" name="referer", id="referer")
          br
          label.col-2(for="proxy") Proxy: 
          input.col-10(type="text" name="proxy", id="proxy", placeholder="ip:port")
          br
          label.col-3(for="timeout") Timeout(s): 
          input.col-2(type="number" name="timeout", id="timeout", max="300", min="30", step="30", value="30")
          label.col-2(for="delay") Delay(s): 
          input.col-2(type="number" name="delay", id="delay", max="60", min="0", step="5", value="5")
          //label.col-2(for="disableScript") Disable Script
          //input.col-1(type="checkbox", name="disableScript", id="disableScript" value="")
          br
          label(for="exheader") Extra Headers: 
          textarea.col-12(id="exheader", name="exheader", rows=2)
          br
          //label(for="postData") Post Data: 
          //br
          //textarea(id="postData", name="postData", rows=3, cols=50)
          //br
          input(type="hidden" name="_csrf", value=csrfToken)
          br
          input(type="submit" name="submit", value="submit")
