nav.navbar.navbar-expand-sm.bg-primary.navbar-dark
  ul.navbar-nav
    li.nav-item
      a.nav-link(href=rootPath) Top
    li.nav-item
      a.nav-link(data-toggle="modal",data-target="#register_form", style="cursor:pointer;") Register URL
    li.nav-item
      a.nav-link(href=rootPath + "page") Page
    li.nav-item
      a.nav-link(href=rootPath + "website") Site
    li.nav-item
      a.nav-link(href=rootPath + "request") Request
    li.nav-item
      a.nav-link(href=rootPath + "response") Response
    li.nav-item
      a.nav-link(href=rootPath + "payload") Payload
    li.nav-item
      a.nav-link(href=rootPath + "screenshot") Screenshot