mixin pagination-include(title, result, pages)
    ul.p-2.pagination(style="margin-bottom:0;")
          h3.mr-3= title + ": " + result.totalDocs
          li.page-item
            if result.prevPage
              - prev = pages[0].url.replace(/[0-9]*$/, result.prevPage);
              a.page-link(href=prev) Previous
            else
              a.page-link Previous
          if pages
            each page in pages
              if page.number === result.page
                li.page-item.active
                  a.page-link(href=page.url)= page.number
              else
                li.page-item
                  a.page-link(href=page.url)= page.number
          li.page-item
            if result.nextPage
              - next = pages[0].url.replace(/[0-9]*$/, result.nextPage);
              a.page-link(href=next) Next
            else
              a.page-link Next

+pagination-include(title, result, pages)