extends layout

block content
  h2.p-2 Responses - ElasticSearch
  if result
    - var responses = result
    //include include/pagination.pug
  form.form-inline(method="get" action=rootPath + "response/es")
      input.form-control.mr-2.btn.btn-sm.btn-danger(type="submit" value="search")
      label.mr-2(for="source") query:  
      input.form-control.mr-2(type="text" name="query", id="query" value=query?query:"")
      label(for="size") size:
      select.form-control(name='size' id='size')
          option(value=10, selected= true) 10
          option(value=50) 50 
          option(value=100) 100
      label(for="size") page:
      select.form-control(name='page' id='page')
          option(value=1, selected= true) 1

  br
  if responses
    h2= "query : " + query + " => " + total  + " hits"

    if search
          h4= "Search: " + JSON.stringify(search) + " - Total: " + responses.length
    if responses.length >= 0 
      table.table.table-bordered.table-sm
        tr.thead-light.d-flex
          th.col-2 createdAt
          th.col-4 url
          th.col-6 text
        each response in responses
          tr.d-flex 
            td.col-2= moment(response.createdAt).format('YYYY-MM-DD HH:mm:ss.SSS')
            td.col-4
              a(href=rootPath + "response?url=" + encodeURIComponent(response.url))= "🔍 "
              a(href=rootPath + "response/" +response._id) #{response.url}
            td.col-6
              if response.text
                - var matched = response.text.toLowerCase().indexOf(query.toLowerCase());
                - var start = matched<=100?0:matched-100
                a= matched + " / " + response.text.length
                pre= response.text.slice(start ,matched+100)
  else
    div.alert.alert-warning
      p No data
      
