extends layout

block content
  h1.p-1 Responses - ElasticSearch
  if result
    - var responses = result
  form.form-inline(method="get" action=rootPath + "response/es")
      input.form-control.mr-2.btn.btn-sm.btn-danger(type="submit" value="search")
      label.mr-2(for="source") query:  
      input.form-control.mr-2(type="text" name="query", id="query" value=query?query:"")
  if responses
    - let to = size * page > total ? total : size * page
    - let from = to - size + 1 > 0 ? to - size + 1 : 1
    - let last = Math.trunc(total / size + 1)
    - let previous = page - 1 > 0 ? page - 1 : 1
    - let next = page + 1 < last ? page + 1 : last
    h2
      - let link = rootPath + "response/es?query=" + query + "&size=" + size + "&page="
      a.btn.m-1.btn-primary(href=link + "1")= "<<"
      a.btn.m-1.btn-light(href=link + previous)= "<"
      a.btn.m-1.btn-light(href=link + next)= ">"
      a.btn.m-1.btn-primary(href=link + last)= ">>"
      a= "query : " + query + " => " + total  + " hits | " + from + " ~ " + to
    if search
          h4= "Search: " + JSON.stringify(search) + " - Total: " + responses.length
    if responses.length >= 0 
      table.table.table-bordered.table-sm
        tr.thead-light.d-flex
          th.col-2 createdAt
          th.col-4 url
          th.col-6 text
        each response in responses
          tr.d-flex 
            td.col-2= moment(response.createdAt).format('YYYY-MM-DD HH:mm:ss.SSS')
            td.col-4
              a(href=rootPath + "response?url=" + encodeURIComponent(response.url))= "🔍 "
              a(href=rootPath + "response/" +response._id) #{response.url}
            td.col-6
              if response.text
                - var matched = response.text.toLowerCase().indexOf(query.toLowerCase());
                - var start = matched<=100?0:matched-100
                a= matched + " / " + response.text.length
                pre= response.text.slice(start ,matched+100)
  else
    div.alert.alert-warning
      p No data
      
