extends layout

block content
      .jumbotoron
        h3= title
      if webpages
        if webpages.length
          table.table.table-striped.table-bordered.table-hover.table-sm
            tr.thead-light.d-flex.text-center
              th.col-3 createdAt
              th.col-3 url
              th.col-2 title
              th.col-1 size
              th.col-3 page
            each webpage in webpages
              tr.d-flex(value=webpage._id)
                td.col-3= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss Z')
                td.col-3
                  a(href=rootPath + "search/page?input=" + encodeURIComponent(webpage.input)) Input
                  p= webpage.input
                  if webpage.url
                    //a(href=rootPath + "search/page?url=" + webpage.url)
                    a= "Result"
                    p
                      a(href=rootPath + "page/" +webpage._id) #{webpage.url}
                  else
                    a(href=rootPath + "page/" +webpage._id) id: #{webpage._id}
                td.col-2
                  if webpage.title
                    a(href=rootPath + "search/page?title=" +webpage.title) #{webpage.title}
                td.col-1
                  if webpage.content
                    p= webpage.content.length
                td.col-3
                  if webpage.thumbnail
                    a.colorbox(href=rootPath + "page/screenshot/" +webpage._id)
                      img(src="data:image/png;base64," + webpage.thumbnail)
      else
        div.alert.alert-warning
          p No data