extends layout

block content
      .jumbotoron
        h3= title
      if webpages
        if webpages.length
          table.table.table-striped.table-bordered.table-hover.table-sm
            tr.thead-light.d-flex.text-center
              th.col-3 createdAt
              th.col-5 url
              th.col-1 size
              th.col-3 page
            each webpage in webpages
              tr.d-flex.hoge(value=webpage._id)
                td.col-3= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss.SSS Z')
                td.col-5
                  if webpage.input
                    p= webpage.input
                    a(href=rootPath + "search/input/" + encodeURIComponent(webpage.input)) ->  
                    br
                    br
                  if webpage.url
                    a(href=rootPath + model + "/" +webpage._id) #{webpage.url}
                  else
                    a(href=rootPath + model + "/" +webpage._id) #{webpage._id}
                td.col-1
                  if webpage.content
                    p= webpage.content.length
                td.col-3
                  if webpage.thumbnail
                    a(href=rootPath + "search/title/" +webpage.title) #{webpage.title}
                    a.colorbox(href=rootPath + "page/screenshot/" +webpage._id)
                      img(src="data:image/png;base64," + webpage.thumbnail)
      else
        div.alert.alert-warning
          p No data