extends layout

block content
  if webpage
    .p-2
      .row.p-2.bg-light.shadow-lg
        div.col-md-3
          h1= "Page"
          if webpage.thumbnail
            a.colorbox(href=rootPath + "screenshot/" + webpage.screenshot)
              img(src="data:image/png;base64," + webpage.thumbnail)
        div.col-md-9
          h3 Title: 
            a(href=rootPath + "search/page?title=" + encodeURIComponent(webpage.title)) #{webpage.title}
          h3 Url: 
            a(href=rootPath + "search/page?url=" + encodeURIComponent(webpage.url)) #{webpage.url} 
          h3 from input: 
            a(href=rootPath + "search/page?input=" + encodeURIComponent(webpage.input)) #{webpage.input}
          if webpage.error
            p= "Error: " + webpage.error
          else
            p= "Error: none"
          p #{webpage.createdAt}
    .row
      .p-2.col-5
       .p-2.bg-light.shadow-lg
        h3 Option
        if webpage.option
          each value, key in webpage.option
            if value
              .row
                .col-2= key
                .col-10= value
      .p-2.col-7
       .p-2.bg-light.shadow-lg
        h3 finalResponse
        h5= "status:" + webpage.status
        .row
          .col-6
            h5 remoteAddress
            if webpage.remoteAddress
              - var pageAddress = webpage.remoteAddress
              a(href=rootPath + "search/page?ip=" + pageAddress.ip)= "ip:port: " + pageAddress.ip + ":" + pageAddress.port
              br
              a= "reverse: " + webpage.remoteAddress.reverse
              br
              if webpage.remoteAddress.geoip
                if webpage.remoteAddress.geoip[0]
                  a= "geoip country: " + webpage.remoteAddress.geoip[0].country
                  br
              a= "bgp: " + JSON.stringify(webpage.remoteAddress.bgp, null, ' ')

          .col-6
            h5 securityDetails
            if webpage.securityDetails
              - var securityDetails = webpage.securityDetails
              if securityDetails.issuer
                a= "issuer: " + securityDetails.issuer
                br
                a= "protocol: " + securityDetails.protocol
                br
                a= "subjectName: " + securityDetails.subjectName
                br
                - const from = securityDetails.validFrom
                a= "validFrom: " + moment.unix(from).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(from).fromNow()
                br
                - const to = securityDetails.validTo
                a= "validTo: " + moment.unix(to).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(to).fromNow()
            else
                p empty

    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle="tab",href="#request-tab") Request
      li.nav-item
        a.nav-link(data-toggle="tab",href="#content-tab") Content
      li.nav-item
        a.nav-link(data-toggle="tab",href="#diff-tab") Diff

    div.tab-content
      div#request-tab.tab-pane.active
          if requests
            if requests.length
              h3= "Requests: "+ requests.length + " / Responses: " + responses.length
              table.table.table-bordered.table-sm
                tr.thead-light.d-flex
                  th.col-2 createdAt
                  th.col-3 ðŸ”url
                  th.col-2 request
                  th.col-1 response
                  th.col-2 ipAddress
                  th.col-2 securityDetails
                each request in requests
                  tr.d-flex(class={
                      "table-info":request.isNavigationRequest===true,
                      "table-danger":request.url===webpage.url,
                      "table-warning":request.failure,
                      })
                    td.col-2= moment(request.createdAt).format('YYYY-MM-DD HH:mm:ss.SS')
                    td.col-3
                      if request.url.length > 100
                        a(href=rootPath + "search/response?url=" + encodeURIComponent(request.url)) #{request.url.slice(0,100)}(truncated)
                      else
                        a(href=rootPath + "search/response?url=" + encodeURIComponent(request.url)) #{request.url}
                    td.col-2
                      if request.response
                        a(href=rootPath + "response/" + request.response._id) #{request.method} / #{request.resourceType}
                      else
                        a #{request.method} / #{request.resourceType}
                      if request.redirectChain
                        a= " / chain:" +request.redirectChain.length
                      if request.failure
                        a= " -> " + request.failure.errorText
                    each response in responses
                      if request.response && response._id
                       if request.response.toString()==response._id.toString()
                        td.col-1
                          if response.status
                            a.col-6(href=rootPath + "response/" + response._id) #{response.status}
                          if response.text
                            br
                            a.col-6(href=rootPath + "response/" + response._id)  (#{response.text.length})
                          else
                            br
                            a.col-6(href=rootPath + "response/" + response._id)  (-)

                        td.col-2
                          a(href=rootPath + "search/response?ip=" + response.remoteAddress.ip) #{response.remoteAddress.ip}
                          if response.remoteAddress.geoip
                            if response.remoteAddress.geoip[0]
                              a= " - " + response.remoteAddress.geoip[0].country
                        td.col-2= response.securityDetails.issuer
                      else
                        td.col-5 no response
      div#content-tab.tab-pane
       .row
        if webpage.content
          div.col-md-1
            h5= "Content"
            p= "size: " + webpage.content.length
          div.col-md-10
            pre#content.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.content}
          div.col-md-1
            p
              button.btn.btn-sm.btn-primary(onclick="prettyPrint()") prettyPrint
            p
              button.btn.btn-sm.btn-primary(onclick="beautify()") beautify
        else
         div.alert
          p No data
      div#diff-tab.tab-pane
        .row
          if diff
            div.col-md-1
              h5= "Diff"
            div.col-md-10
              #diff
                pre.prettyprint.linenums(style="white-space: pre-wrap") #{diff}
            div.col-md-1
              p
                button.btn.btn-sm.btn-primary(onclick="diff()") diff2html
              a(href=rootPath + "page/" + previous._id) previous: #{previous.id}
          else
            div.alert
              p No data
    script.
        function beautify(){
          var content=$("#content").text();
          var beautified = html_beautify(content);
          $('pre#content').text(beautified);
        };
        function diff(){
          var udiff =$("#diff").text();
          var diffHtml = Diff2Html.getPrettyHtml(udiff, {
            inputFormat: 'diff',
            showFiles: false,
            matching: "none",
            outputFormat: 'side-by-side',
            //outputFormat: 'line-by-line',
          });
          document.getElementById("diff").innerHTML = diffHtml;
        };
  else
    div.alert.alert-warning
      p No data