extends layout

block content
  if webpage
    .p-2
      .row.p-2.bg-light.shadow-lg
        div.col-md-3
          h2= "Page"
          if webpage.thumbnail
            a.colorbox(href=rootPath + "screenshot/" + webpage.screenshot)
              img(src="data:image/png;base64," + webpage.thumbnail)
          h5= "id: "
            a(href=rootPath + "page/" + webpage._id) #{webpage._id}
          a= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss') + " / " +moment(webpage.createdAt).fromNow()
        div.col-md-9
          h3 Title: 
            a(href=rootPath + "search/page?title=" + encodeURIComponent(webpage.title)) #{webpage.title}
          h3 Url: 
            a(href=rootPath + "search/page?url=" + encodeURIComponent(webpage.url)) #{webpage.url} 
          h3 from input: 
            a(href=rootPath + "website/" + website._id) #{webpage.input}
            //a(href=rootPath + "search/page?input=" + encodeURIComponent(webpage.input)) ðŸ”
          if website.gsb.lookup
            h4 GSB:
              if website.gsb.lookup.matches
                - var matches =  website.gsb.lookup.matches
                if matches.length
                  each match in matches
                    span.badge.badge-danger
                      a= match.threatType
          if webpage.error
            h4= "Error: " + webpage.error
          else
            h4= "Error: none"
          button.btn.btn-outline-primary(data-toggle="collapse" data-target="#option") Option â–½
          div#option.collapse
            h5 Option
            if webpage.option
              each value, key in webpage.option
                if value
                  .row
                    .col-2= key
                    .col-10= value
      
    .row
      .p-2.col-12
       .p-2.bg-light.shadow-lg
        //h3= "finalResponse"
          a= " - status:" + webpage.status
        .row
          dl.col-3
            dt= "remoteAddress: "
            if webpage.remoteAddress
            - var pageAddress = webpage.remoteAddress
              dd ip - port :
                a(href=rootPath + "search/page?ip=" + pageAddress.ip)= pageAddress.ip
                a=  " - " + pageAddress.port
              if webpage.remoteAddress.geoip
                if webpage.remoteAddress.geoip[0]
                  dd= "geoip country: " + webpage.remoteAddress.geoip[0].country
            dt= "reverse: "
            each reverse in webpage.remoteAddress.reverse
              dd= reverse
          dl.col-3
              dt= "bgp: "
              each bgp in webpage.remoteAddress.bgp
                pre=JSON.stringify(bgp, null, ' ')
                hr
          dl.col-3
            if webpage.wappalyzer
              dt= "wappalyzer: "
              each wapp in webpage.wappalyzer
                dd= wapp
          dl.col-3            
            dt securityDetails
            if webpage.securityDetails
              - var securityDetails = webpage.securityDetails
              if securityDetails.issuer
                dd= "issuer: " + securityDetails.issuer
                dd= "protocol: " + securityDetails.protocol
                dd= "subjectName: " + securityDetails.subjectName
                - const from = securityDetails.validFrom
                dd= "From: " + moment.unix(from).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(from).fromNow()
                - const to = securityDetails.validTo
                dd= "To: " + moment.unix(to).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(to).fromNow()
            else
                p empty
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle="tab",href="#request-tab") Request
      li.nav-item
        a.nav-link(data-toggle="tab",href="#content-tab") Content
      li.nav-item
        a.nav-link(data-toggle="tab",href="#diff-tab") Diff

    div.tab-content
      div#request-tab.tab-pane.active
          if requests
            if requests.length 
              h3= "Requests: "+ requests.length + " / Responses: " + responses.length
              
              form.form-inline(method="get" action=rootPath + "page/" + webpage._id)
                input.form-control.mr-2.btn.btn-sm.btn-danger(type="submit" value="search")
                label.mr-2(for="rurl") url:  
                input.form-control.mr-2(type="text" name="rurl", id="rurl" placeholder='regex value' value=search?search.rurl:"")
                label.mr-2(for="status") status:  
                input.form-control.mr-2(type="text" name="status", id="status" placeholder='' value=search?search.status:"")
                label.mr-2(for="source") source:  
                input.form-control.mr-2(type="text" name="source", id="source" placeholder='' value=search?search.source:"")
              if search.length
                h4= "Search: " + JSON.stringify(search) + " - Total: " + responses.length
              table.table.table-bordered.table-sm
                tr.thead-light.d-flex
                  //th.col-2 createdAt
                  th.col-1 seq
                  th.col-3 url
                  th.col-2 request
                  th.col-2 response
                  th.col-2 securityDetails
                  th.col-2 yara
                - var seq = 0
                each request in requests
                  tr.d-flex(class={
                      "table-info":request.isNavigationRequest===true,
                      "table-danger":request.url===webpage.url,
                      "table-warning":request.failure,
                      })
                    - seq += 1
                    td.col-1= seq
                      //= moment(request.createdAt).format('YYYY-MM-DD HH:mm:ss.SS')
                    td.col-3
                        a(href=rootPath + "search/response?url=" + encodeURIComponent(request.url)) ðŸ”
                        if request.url.length > 100
                          a #{request.url.slice(0,100)}(truncated)
                        else
                          a #{request.url}
                    td.col-2
                      if request.response
                        a(href=rootPath + "response/" + request.response._id) #{request.method}
                      else
                        a = request.method
                      if request.resourceType
                        a= " / " + request.resourceType
                      if request.redirectChain
                        a= " / chain:" +request.redirectChain.length
                      if request.failure
                        br
                        a= request.failure.errorText
                    each response in responses
                      if request.response && response._id
                       if request.response.toString()==response._id.toString()
                        td.col-2
                          a= "status: "
                          if response.status
                            a(href=rootPath + "response/" + response._id) #{response.status}
                          br
                          a= " size: "
                          if response.text
                            a= response.text.length + " -> "
                            a(href=rootPath + "payload/" + response.payload)= "payload"
                          else
                            a -
                          br
                          a= "ip: "
                          a(href=rootPath + "search/response?ip=" + response.remoteAddress.ip) #{response.remoteAddress.ip}
                          if response.remoteAddress.geoip
                            if response.remoteAddress.geoip[0]
                              a= " - " + response.remoteAddress.geoip[0].country
                        td.col-2= response.securityDetails.issuer
                        td.col-2
                          if response.yara
                            if response.yara.rules
                              each rule in response.yara.rules
                                if rule.id
                                  span.badge.badge-warning
                                    a= rule.id
                      else
                        td.col-6 no response
                        - break
      div#content-tab.tab-pane
       .row
        if webpage.content

          div.col-md-11
            h5= "text size: " + webpage.content.length
            button.mr-2.btn.btn-outline-primary(data-toggle="collapse" data-target="#yara") yara â–½
            if webpage.yara
                each rule in webpage.yara.rules
                  if rule.id
                    span.badge.badge-warning
                      a= rule.id
            div#yara.collapse
              if webpage.yara
                pre#yarascan= JSON.stringify(webpage.yara, null, " ")
              else
                pre#yarascan
            pre#content.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.content}
            div(hidden="")
              pre#tmp(style="white-space: pre-wrap") #{webpage.content}

          div.col-md-1
            a Beautify
            .btn-group-vertical
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"script\")") JS
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"stylesheet\")") CSS
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"html\")") HTML
                button.btn.btn-sm.btn-outline-primary(onclick="prettyPrint()") prettyPrint
            hr
            //p Deobfuscate
              button.btn.btn-sm.btn-primary(onclick="jstillery()") JStillery
            //hr
            p
              button.btn.btn-sm.btn-primary(onclick="yara()") yara
            p
              button.btn.btn-sm.btn-primary(onclick="reset()") reset

        else
         div.alert
          p No data
      div#diff-tab.tab-pane
          if diff
            h4 Diff
            h5 previous: 
              a(href=rootPath + "page/" + previous._id) #{previous.id}
            div.col-md-12
              button.btn.btn-outline-primary(onclick="diff('side-by-side')") side-by-side
              button.btn.btn-outline-primary(onclick="diff('line-by-line')") line-by-line            

              #diff
                pre.prettyprint.linenums(style="white-space: pre-wrap") #{diff}
          else
            div.alert
              p No data
    script.
              var apiPath = #{rootPath};
              function reset(){
                var content=$("pre#tmp").text();
                $('pre#content').text(content);
                $('pre#content').removeClass("prettyprinted");
              };
              function jstillery(){
                var content=$("pre#content").text();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/jstillery",
                  data:JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    $('pre#js').text(result["source"]);
                  },
                  error: function() {
                    $('pre#js').text("jstillery error");
                  }
                })
              };
              function beautify(type){
                //console.log(type);
                var content=$("pre#content").text();
                var beautified;
                var opts = {"unescape-strings":true};
                if (type==="script") beautified = js_beautify(content, opts);
                else if (type==="stylesheet") beautified = css_beautify(content);
                else beautified = html_beautify(content);
                $('pre#content').text(beautified);
              };
              function yara(){
                var content=$("pre#content").text();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/yara",
                  data: JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    console.log(result)
                    $('pre#yarascan').text(JSON.stringify(result, null, " "));
                    if ("rules" in result){
                      for(let rule of result["rules"]){
                        console.log(rule)
                        if("matches" in rule){
                          for(let match of rule["matches"]){
                            highlight = content.substr(match["offset"], match["length"])
                            $("pre#content").highlight(highlight);
                          }
                        }
                      }
                    }
                  },
                error: function(err) {
                    $('pre#yarascan').text(err);
                  }
                })
              };
              function diff(output){
                var udiff = $("#diff").text();
                var diffHtml = Diff2Html.getPrettyHtml(udiff,{
                  inputFormat: 'diff',
                  showFiles: false,
                  matching: "none",
                  outputFormat: output
                });
                document.getElementById("diff").innerHTML = diffHtml;
              }

  else
    div.alert.alert-warning
      p No data