extends layout

block content
  if webpage
    .jumbotoron.text-center
      h1= "Page"
    .row
        div.col-md-3
          if webpage.thumbnail
            a.colorbox(href=rootPath + "screenshot/" + webpage.screenshot)
              img(src="data:image/png;base64," + webpage.thumbnail)

        div.col-md-9
          h3 Url: 
            a(href=rootPath + "search/page?url=" + webpage.url) #{webpage.url} 
          h3 Title: 
            a(href=rootPath + "search/page?title=" + webpage.title) #{webpage.title}
          h3 from input: 
            a(href=rootPath + "search/page?input=" + webpage.input) #{webpage.input}
          if webpage.error
            p= "Error: " + webpage.error
          else
            p= "Error: none"
          p #{webpage.createdAt}
    .row
      .col-2
        h3 Option
      .col-10
          each value, key in webpage.option
            if value
              .row
                .col-2= key
                .col-10= value
    .row
        div.col-md-12
          if requests
            if requests.length
              h3= "Requests: "+ requests.length + " / Responses: " + responses.length
              table.table.table-striped.table-bordered.table-hover.table-sm
                tr.thead-light.d-flex
                  th.col-2 createdAt
                  th.col-3 ðŸ”url
                  th.col-2 request
                  th.col-2 response
                  th.col-1 ipAddress
                  th.col-2 securityDetails
                each request in requests
                  tr.d-flex(class={
                      "table-info":request.isNavigationRequest===true,
                      "table-danger":request.url===webpage.url,
                      "table-warning":request.failure,
                      })
                    td.col-2= moment(request.createdAt).format('YYYY-MM-DDTHH:mm:ss.SS')
                    td.col-3
                      if request.url.length > 100
                        a(href=rootPath + "search/request?url=" + request.url) #{request.url.slice(0,100)}(truncated)
                      else
                        a(href=rootPath + "search/request?url=" + request.url) #{request.url}

                    td.col-2
                      a(href=rootPath + "response/" + request.response._id) #{request.method} / #{request.resourceType}
                      if request.redirectChain
                        a= " / chain:" +request.redirectChain.length
                      if request.failure
                        a= " -> " + request.failure.errorText
                    if request.response
                      td.col-2
                        if request.response.status
                          a.col-6(href=rootPath + "response/" + request.response._id) #{request.response.status}
                        if request.response.text
                          a.col-6(href=rootPath + "response/" + request.response._id)  (#{request.response.text.length} bytes)
                        else
                          a.col-6(href=rootPath + "response/" + request.response._id)  (-)
                      td.col-1
                       a= request.response.remoteAddress.ip
                      td.col-2= request.response.securityDetails.issuer
                    else
                      td.col-5 no response

                    each response in responses
                      if request.url===response.url
                        td.col-2
                          if response.status
                            a(href=rootPath + "response/" + response._id) #{response.status}
                          if response.text
                            a(href=rootPath + "response/" + response._id) (#{response.text.length}bytes)
                          else
                            a(href=rootPath + "response/" + response._id) (-)
                        td.col-1= response.remoteAddress.ip
                        td.col-2= response.securityDetails.issuer
                        - response.url = undefined
                        - break
        div.col-md-12(hidden)
          if responses
            if responses.length
              h3= "Responses: " + responses.length
              table.table.table-striped.table-bordered.table-hover.table-sm
                tr.thead-light.d-flex
                  th.col-3 createdAt
                  th.col-3 url
                  th.col-1 status
                  th.col-1 size
                  th.col-2 remoteAddress
                  th.col-2 securityDetails
                each response in responses
                  tr.d-flex(class={"table-primary":response.url===webpage.url})
                    td.col-3= moment(response.createdAt).format('YYYY-MM-DDTHH:mm:ss.SS')
                    td.col-3
                      if response.url
                        if response.url.length > 100
                          a(href=rootPath + "response/" + response._id) #{response.url.slice(0,100)}(truncated)
                        else
                          a(href=rootPath + "response/" + response._id) #{response.url}
                    td.col-1= response.status
                    td.col-1
                      if response.payload
                        #{response.payload.length}
                    td.col-2= response.remoteAddress.ip
                    td.col-2= response.securityDetails
    .row
        if webpage.content
          div.col-md-12
            hr
          div.col-md-2
            h3= "Content"
            p= "size: " + webpage.content.length
          div.col-md-8
            pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.content}
          div.col-md-2
            button.btn.btn-primary(onclick="prettyPrint()") prettyPrint

        else
          div.col-md-12
            h6 No Content.
  else
    div.alert.alert-warning
      p No data