extends layout

block content
  if webpage
    .card
      .card-header
        h4 Page
          a= " from "
          a(href=rootPath + "website/" + website._id) #{webpage.input}
      .card-body
          .row
            .col-4
                if webpage.thumbnail
                  a= "Result"
                  a.gallery(href=rootPath + "screenshot/" + webpage.screenshot)
                    img(width="100%" id="thumbnail" src="data:image/png;base64," + webpage.thumbnail)
            .col-8
              h4
                a= "Webpage id: "
                a(href=rootPath + "page/" + webpage._id)=  webpage._id
                br
                a= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss') + " / " +moment(webpage.createdAt).fromNow()
              .flex
                if webpage.screenshots
                  - let cnt = 1
                  each screenshot in webpage.screenshots
                    if(screenshot.full && screenshot.thumbnail)
                      a= cnt
                      a.gallery(href=rootPath + "screenshot/" + screenshot.full)
                        img(width="90%" id="thumbnail_" + screenshot._id src="data:image/png;base64," + screenshot.thumbnail)
                    - cnt += 1
      .row
        .col-4
          button.btn.btn-block.btn-sm.btn-light(data-toggle="collapse" data-target="#option") Option
          #option.collapse.show
                table
                  each value, key in webpage.option
                    if value
                      tr
                        th= key
                        td= value
        .col-8
          h4
            table
              tr
                th SafeBrowsing
                td
                  if website.gsb
                      - var matches =  website.gsb.lookup.matches
                      if matches
                        each match in matches
                          span.badge.badge-danger
                            a= match.threatType
              tr
                th Url
                td
                  if webpage.url
                    a(href=rootPath + "page?url=" + encodeURIComponent(webpage.url))  ðŸ”
                    a= webpage.url
              tr
                th Title
                td
                  if webpage.title
                    a(href=rootPath + "page?title=" + encodeURIComponent(webpage.title))  ðŸ”
                    a= webpage.title
              tr
                th Error
                if webpage.error            
                  td= webpage.error
                else
                  td= "none"
              if webpage.remoteAddress
                - var pageAddress = webpage.remoteAddress
                tr
                  th= "IP/Port/GeoIP"
                  td
                    a(href=rootPath + "page?ip=" + pageAddress.ip)= " ðŸ”"
                    a= pageAddress.ip + " / " +  pageAddress.port
                    if webpage.remoteAddress.geoip
                      if webpage.remoteAddress.geoip[0]
                          a= " / " + webpage.remoteAddress.geoip[0].country
                tr
                  th= "Reverse"
                  td
                    if webpage.remoteAddress.reverse
                      each reverse in webpage.remoteAddress.reverse
                        a= reverse
                        br
              if webpage.payload
                tr
                  th= "Download"
                  td
                    a(href=rootPath + "payload/" + webpage.payload)= webpage.payload
      hr
      .row
        .col-4
          //h6= "Wappalyzer"
          button.btn.btn-block.btn-sm.btn-primary(data-toggle="collapse" data-target="#wappalyzer") Wappalyzer
          #wappalyzer.collapse.show
            if webpage.wappalyzer
              each wapp in  webpage.wappalyzer
                a= " - " + wapp
                br
        .col-4
          //h6 Cymru BGP
          button.btn.btn-block.btn-sm.btn-primary(data-toggle="collapse" data-target="#bgp") BGP
          #bgp.collapse.show
            if webpage.remoteAddress.bgp
                if webpage.remoteAddress.bgp.length  
                  each bgp in webpage.remoteAddress.bgp
                    pre=JSON.stringify(bgp, null, ' ')
                else
                  a empty
        .col-4
          //h6 securityDetails
          button.btn.btn-block.btn-sm.btn-primary(data-toggle="collapse" data-target="#securityDetails") securityDetails
          #securityDetails.collapse.show
            if webpage.securityDetails
               if webpage.securityDetails
                - var securityDetails = webpage.securityDetails
                if securityDetails.issuer
                  table
                    tr
                      th= "issuer"
                      td= securityDetails.issuer
                    tr
                      th= "protocol"
                      td= securityDetails.protocol
                    tr
                      th= "subjectName"
                      td= securityDetails.subjectName
                    - const from = securityDetails.validFrom
                    tr
                      th= "validFrom"
                      td= moment.unix(from).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(from).fromNow()
                    - const to = securityDetails.validTo
                    tr
                      th= "validTo"
                      td= moment.unix(to).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(to).fromNow()
                else
                    h6 empty

    ul.nav.nav-pills
      li.nav-item
        a.nav-link(class=(har == undefined ? "active" : undefined) data-toggle="tab",href="#request-tab") Request
      li.nav-item
        a.nav-link(data-toggle="tab",href="#content-tab") Content
      li.nav-item
        a.nav-link(data-toggle="tab",href="#diff-tab") Diff
      li.nav-item
        a.nav-link(class=(har == undefined ? undefined : "active") data-toggle="tab",href="#har-tab") Har

    div.tab-content
      div#request-tab.tab-pane(class=(har == undefined ? "active" : undefined))
            if result
              - var requests = result.docs
              include include/pagination.pug
              h4= "Requests: " + requests.length
              
              form.form-inline(method="get" action=rootPath + "page/" + webpage._id)
                input.form-control.mr-2.btn.btn-sm.btn-danger(type="submit" value="search")
                label.mr-2(for="rurl") url:  
                input.form-control.mr-2(type="text" name="rurl", id="rurl" placeholder='regex value' value=search?search.rurl:"")
                label.mr-2(for="status") status:  
                input.form-control.mr-2(type="text" name="status", id="status" placeholder='' value=search?search.status:"")
                label.mr-2(for="source") source:  
                input.form-control.mr-2(type="text" name="source", id="source" placeholder='' value=search?search.source:"")
              if search.length
                h4= "Search: " + JSON.stringify(search) + " - Total: " + responses.length
              table.table.table-bordered.table-sm
                tr.thead-light.d-flex
                  //th.col-2 createdAt
                  th.col-1 request
                  th.col-4 url
                  th.col-3 response
                  th.col-2 securityDetails
                  th.col-2 yara
                - var seq = 0
                each request in requests
                  tr.d-flex(class={
                      "table-info":request.isNavigationRequest===true,
                      "table-danger":request.url===webpage.url,
                      "table-warning":request.failure,
                    })
                    - seq += 1
                    td.col-1
                      a.btn.btn-sm.btn-primary(href=rootPath + "request/" + request._id)= seq
                      if request.method
                        a #{request.method}
                      if request.resourceType
                        a= " type: " + request.resourceType
                      br
                      if request.failure
                        a= "failure: " + request.failure.errorText
                        br
                      if request.redirectChain
                        a= "chain:" +request.redirectChain.length
                        br
                      if request.interceptionId
                        a= "intercept: "  + request.interceptionId
                    td.col-4
                        a(href=rootPath + "response?url=" + encodeURIComponent(request.url))= "ðŸ” "
                        if request.url.length > 100
                          a #{request.url.slice(0,100)}(truncated)
                        else
                          a #{request.url}
                    if request.response
                        - var response = request.response
                        td.col-3(class={
                          "table-default":response.status>=200&&response.status<300,
                          "table-secondary":response.status>=400,
                          "table-warning":response.status>=300&&response.status<400,
                        })
                          if response.status
                            a= "status: "
                            a(href=rootPath + "response/" + response._id) #{response.status}
                          if response.statusText
                            a= " " + response.statusText
                          if response.text
                            a= " | size: " + response.text.length
                          if response.payload
                            a= " -> "
                            a(href=rootPath + "payload/" + response.payload)= "payload"
                          br
                          if response.mimeType
                            a= response.mimeType
                            br
                          if response.encoding
                            a= "encoding: " + response.encoding
                            br
                          if response.remoteAddress
                            a= "ip: "
                            a(href=rootPath + "response?ip=" + response.remoteAddress.ip)= response.remoteAddress.ip
                            if response.remoteAddress.geoip
                              if response.remoteAddress.geoip[0]
                                a= " - " + response.remoteAddress.geoip[0].country
                            br
                          if response.interceptionId
                            a= "intercept: " + response.interceptionId
                        td.col-2
                          if response.securityDetails
                            if response.securityDetails.issuer
                              a= response.securityDetails.issuer
                        - var response = request.response
                        td.col-2
                          if response.yara
                            if response.yara.rules
                              each rule in response.yara.rules
                                if rule.id
                                  span.badge.badge-warning
                                    a.text-dark(href=rootPath + "response?yara=" + rule.id)=rule.id
                    else
                        td.col-6 no response
      div#content-tab.tab-pane
       .row
        if webpage.content

          div.col-md-11
            h5= "text size: " + webpage.content.length
            button.mr-2.btn.btn-outline-primary(data-toggle="collapse" data-target="#yara") yara â–½
            if webpage.yara
                each rule in webpage.yara.rules
                  if rule.id
                    span.badge.badge-warning
                      a= rule.id
            div#yara.collapse
              pre#yaramatched
              if webpage.yara
                pre#yarascan= JSON.stringify(webpage.yara, null, " ")
              else
                pre#yarascan
            pre#content.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.content}
            div(hidden="")
              pre#tmp(style="white-space: pre-wrap") #{webpage.content}

          div.col-md-1
            a Beautify
            .btn-group-vertical
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"script\")") JS
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"stylesheet\")") CSS
                button.btn.btn-sm.btn-outline-primary(onclick="beautify(\"html\")") HTML
                button.btn.btn-sm.btn-outline-primary(onclick="prettyPrint()") prettyPrint
            hr
            //p Deobfuscate
              button.btn.btn-sm.btn-primary(onclick="jstillery()") JStillery
            //hr
            p
              button.btn.btn-sm.btn-primary(onclick="yara()") yara
            p
              button.btn.btn-sm.btn-primary(onclick="reset()") reset

        else
         div.alert
          p No data
      div#diff-tab.tab-pane
          if diff
              h5 previous: 
                a(href=rootPath + "page/" + previous._id) #{previous.id}

              button.btn.btn-outline-primary(onclick="diff('side-by-side')") side-by-side
              button.btn.btn-outline-primary(onclick="diff('line-by-line')") line-by-line            

              #diff
                pre.prettyprint.linenums(style="white-space: pre-wrap") #{diff}
          else
            div.alert
              p No data
      div#har-tab.tab-pane(class=(har == undefined ? undefined : "active"))
          //if webpage.favicon
            pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.favicon}
          if webpage.harfile
            a.btn.btn-danger(href=rootPath + "page/download/" + webpage._id) Download
            if har
              #har
                p= "length: " + har.length
                //a.btn.btn-danger(href=rootPath + "page/download/" + webpage._id) Download
                pre.prettyprint.linenums(style="white-space: pre-wrap") #{har}
            else
                a.btn.btn-warning(href=rootPath + "page/" + webpage._id + "?har=true") Show HAR
    script.
              var apiPath = #{rootPath};
              jQuery('a.gallery').colorbox({'photo':true, rel:'group'});
              function reset(){
                var content=$("pre#tmp").text();
                $('pre#content').text(content);
                $('pre#content').removeClass("prettyprinted");
              };
              function jstillery(){
                var content=$("pre#content").text();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/jstillery",
                  data:JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    $('pre#js').text(result["source"]);
                  },
                  error: function() {
                    $('pre#js').text("jstillery error");
                  }
                })
              };
              function beautify(type){
                //console.log(type);
                var content=$("pre#content").text();
                var beautified;
                var opts = {"unescape-strings":true};
                if (type==="script") beautified = js_beautify(content, opts);
                else if (type==="stylesheet") beautified = css_beautify(content);
                else beautified = html_beautify(content);
                $('pre#content').text(beautified);
              };
              function yara(){
                var content=$("pre#content").text();
                $.ajax({
                  type: "post",
                  url: apiPath + "api/yara",
                  data: JSON.stringify({"source":content}),
                  contentType: 'application/json',
                  dataType: "json",            
                  success: function(result) { 
                    console.log(result)
                    $('pre#yaramatched').text(JSON.stringify(result, null, " "));
                    $("pre#content").highlight(result);
                  },
                error: function(err) {
                    $('pre#yarascan').text(err);
                  }
                })
              };
              function diff(output){
                var udiff = $("#diff").text();
                var diffHtml = Diff2Html.getPrettyHtml(udiff,{
                  inputFormat: 'diff',
                  showFiles: false,
                  matching: "none",
                  outputFormat: output
                });
                document.getElementById("diff").innerHTML = diffHtml;
              };

  else
    div.alert.alert-warning
      p No data
