extends layout

block content
    h1 Payload
    if payload
      h2 md5:  #{payload.md5}
      h3 buffer size: #{payload.payload.length}
      h3 text size: #{payload.payload.toString().length}
      a.btn.btn-sm.btn-primary(href=rootPath + "payload/download/" + payload._id) download
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link.active(data-toggle="tab",href="#content-tab") Content

        li.nav-item
          a.nav-link(data-toggle="tab",href="#request-tab") Request
        li.nav-item
          if payload.vt
            if payload.vt.total && payload.vt.positives
            - var total =  payload.vt.total
            - var pos =  payload.vt.positives
            a.nav-link(data-toggle="tab",href="#vt-tab") VT #{pos}/#{total}
          else
            a.nav-link(data-toggle="tab",href="#vt-tab") VT

      div.tab-content
        div#vt-tab.tab-pane
          a.btn.btn-primary(href=rootPath + "vt/" + payload._id) VT search
          pre= JSON.stringify(payload.vt, null, " ")

        div#request-tab.tab-pane
          .col-12
            table.table.table-striped.table-bordered.table-hover.table-sm
              tr.thead-light.d-flex
                th.col-4 createdAt
                th.col-8 url
              each response in responses
                tr.d-flex.page
                  td.col-4
                    a= response.createdAt
                  td.col-8
                    if response.url.length > 100
                      a(href=rootPath + "response/" + response._id) #{response.url.slice(0,100)}(truncated)
                    else
                      a(href=rootPath + "response/" + response._id) #{response.url}

        div#content-tab.tab-pane.active
            pre.prettyprint.linenums(style="white-space: pre-wrap")= payload.payload.toString() 
      
    else
      div.alert.alert-warning
        p No data