extends layout

block content
    if webpage
      h3
        a(href=rootPath+"page/requests/"+webpage.webpage) << Requests #{webpage.webpage}
      h1
        a(href=rootPath+model+"/"+webpage._id) #{webpage.url}
      p #{webpage.createdAt}
      p= webpage.method
      p= webpage.resourceType
      p= webpage.isNavigationRequest
      if webpage.headers
        pre.prettyprint.linenums(style="white-space: pre-wrap")
          each value, key in webpage.headers
            p= key + ": " + value
    else
      div.alert.alert-warning
        p No data