extends layout

block content
  .jumbotoron
    h1 Requests:
      a(href=rootPath+"page/"+pageId) #{pageId}
  if webpages
      if webpages.length
          h2= "total: "+webpages.length 
          table.table.table-striped.table-bordered.table-hover.table-sm
            tr.thead-light.d-flex
              th.col-3 createdAt
              th.col-6 url
              th.col-1 method
              th.col-1 resourceType
              th.col-1 Navigation
            each webpage in webpages
                tr.d-flex(class={"table-primary":webpage.isNavigationRequest===true})
                  td.col-3= moment(webpage.createdAt).format('YYYY-MM-DDTHH:mm:ss.SSSZ')
                  td.col-6
                    a(href=rootPath + model + "/" +webpage._id) #{webpage.url}
                  td.col-1= webpage.method
                  td.col-1= webpage.resourceType
                  td.col-1= webpage.isNavigationRequest
  else
    div.alert.alert-warning
      p No data