extends layout

block content
    .jumbotoron.text-center
      h3= title
    #table.col-md-12
      if webpages
        if webpages.length
          p= "total:" + webpages.length
          table.table.table-striped.table-bordered.table-hover.table-sm
            tr.thead-dark
              th createdAt
              th url
              th status
              th size
              th remoteAddress
              th securityDetails
            each webpage in webpages
              tr
                td= webpage.createdAt
                td
                  a(href="/" + model + "/" +webpage._id) #{webpage.url}
                td= webpage.status
                td
                  if webpage.payload
                    #{webpage.payload.length}
                td= webpage.remoteAddress
                td= webpage.securityDetails
      else
        div.alert.alert-warning
          p No data