extends layout

block content
    if webpage
      //h3
        a(href=rootPath+"page/responses/"+webpage.webpage) << Responses #{webpage.webpage}
      h1
        a(href=rootPath + "search/response?url=" + webpage.url) #{webpage.url}
      if webpage.request
        h2= webpage.request.length
          a(href=rootPath+"request/"+webpage.request._id) request: #{webpage.request}
      if webpage.webpage
        h2
          a(href=rootPath+"page/"+webpage.webpage._id) input: #{webpage.webpage}
      .row
        div.col-md-5
          p #{webpage.createdAt}
          p= "status: " + webpage.status
          p= "statusText: " + webpage.statusText
          //p= "ok: " + webpage.ok
          p= "remoteAddress: " + webpage.remoteAddress
          p= "securityDetails: " + webpage.securityDetails
              |

        div.col-md-7
          h3 header:
          button.btn.btn-primary(onclick="prettyPrint()") prettyPrint
          pre.prettyprint.linenums(style="white-space: pre-wrap")
            each value, key in webpage.headers
              | #{key}: #{value}
              |
          h3 content:
          if webpage.text
              //p size: #{webpage.payload.length}
              p size: #{webpage.text.length}
              //pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.payload}
              pre.prettyprint.linenums(style="white-space: pre-wrap") #{webpage.text}
          else
            p No Content.
    else
      div.alert.alert-warning
        p No data