extends layout

block content
  if webpages
    if webpages.length
      h3= title + " - total: " + webpages.length
      table.table.table-bordered.table-sm
        tr.thead-light.d-flex
          th.col-2 createdAt
          th.col-4 url
          th.col-1 status
          th.col-1 size
          th.col-2 remoteAddress
          th.col-2 securityDetails
        each webpage in webpages
          tr.d-flex 
            td.col-2= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss.SSS')
            td.col-4
              a(href=rootPath + "response/" +webpage._id) #{webpage.url}
              a(href=rootPath + "search/response?url=" + encodeURIComponent(webpage.url)) 🔍
            td.col-1
              a(href=rootPath + "search/response?status=" +webpage.status) #{webpage.status}
            td.col-1
              if webpage.text
                p= webpage.text.length
            td.col-2
              a(href=rootPath + "search/response?ip=" +webpage.remoteAddress.ip) #{webpage.remoteAddress.ip}
              if webpage.remoteAddress.geoip
                if webpage.remoteAddress.geoip[0]
                  -var country=webpage.remoteAddress.geoip[0].country
                  a(href=rootPath + "search/response?country=" + country)= "(" + country + ")"
            td.col-2
              a(href=rootPath + "search/response?issuer=" +webpage.securityDetails.issuer) #{webpage.securityDetails.issuer}
  else
    div.alert.alert-warning
      p No data
      