extends layout

block content
  if webpage
    h3
      a(href=rootPath+"page/"+webpage._id) goto Page: #{webpage.input}
    .row
      .p-2.col-6(style="break-word:break-all;")
       .p-2.bg-light.shadow-lg
        if request
          .row.col-md-12(style="word-break:break-all;")
            h4 Request: #{request.url}
            a(href=rootPath + "search/request?url=" + request.url) 🔍
          p= "createdAt: " + moment(request.createdAt).format('YYYY-MM-DDTHH:mm:ss.SSSZ')
          .row
            .col-12
              h5= request.method  + " " + request.resourceType
              a= "Failure: " + JSON.stringify(request.failure)
              br
              a= "isNavigationRequest: " + request.isNavigationRequest
              br
              h5= "redirectChain:"
              if request.redirectChain
                each chain in request.redirectChain
                  li= chain
              else
                p empty          
      .p-2.col-6(style="break-word:break-all;")
       .p-2.bg-light.shadow-lg
        if response
          .row.col-md-12(style="word-break:break-all;")
            h4 Response: #{response.url}
            a(href=rootPath + "search/response?url=" + response.url) 🔍
        p= "createdAt: " + moment(response.createdAt).format('YYYY-MM-DDTHH:mm:ss.SSSZ')
        h5= "status: " + response.status + " " + response.statusText
        //p= "ok: " + webpage.ok
        .row
          .col-6
            h6 remoteAddress
            a= "ip:port: " + response.remoteAddress.ip + ":" + response.remoteAddress.port
            br
            a= "reverse: " + response.remoteAddress.reverse
            br
            if response.remoteAddress.geoip
              if response.remoteAddress.geoip[0]
                a= "geoip country: " + response.remoteAddress.geoip[0].country
                br
            pre= "bgp: " + JSON.stringify(response.remoteAddress.bgp[0], null, ' ')

          .col-6
            h6 securityDetails
            - var securityDetails = response.securityDetails
            if securityDetails.issuer
              a= "issuer: " + securityDetails.issuer
              br
              a= "protocol: " + securityDetails.protocol
              br
              a= "subjectName: " + securityDetails.subjectName
              br
              a= "valid"
              br
              - const from = securityDetails.validFrom
              a= "From: " + moment.unix(from).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(from).fromNow()
              br
              - const to = securityDetails.validTo
              a= "To: " + moment.unix(to).format('YYYY-MM-DDTHH:mm:ss / ') + moment.unix(to).fromNow()
            else
              p empty
    .row
        .col-6
          h6 Request Headers:
            if request
              if request.headers
                pre.prettyprint.linenums(style="white-space: pre-wrap")
                  each value, key in request.headers
                    | #{key}: #{value}
                    |
        .col-6
          h6 Response Headers: 
            if response.headers
              pre.prettyprint.linenums(style="white-space: pre-wrap")
                each value, key in response.headers
                  | #{key}: #{value}
                  |
        
        .col-md-12
          hr              
        div.col-md-1
          h5 Content:
          if response.text
            p size: #{response.text.length}
          if response.payload
            a(href=rootPath+"payload/"+response.payload) Payload

        div.col-md-10
          if response.text
              pre.prettyprint.linenums(style="white-space: pre-wrap") #{response.text}
          else
            h5 No Content.
        div.col-md-1
          button.btn.btn-sm.btn-primary(onclick="prettyPrint()") prettyPrint

  else
    div.alert.alert-warning
      p No data