extends layout

block content
  if websites
      if websites.length
          h2= "total: "+websites.length 
          table.table.table-bordered.table-sm
            tr.thead-light.d-flex
              th.col-2 timestamps
              th.col-3 site
              th.col-3 last
              th.col-3 capture
              th.col-1 tag
            each webpage in websites
                tr.d-flex.page(value=webpage._id, class={
                  "table-success":webpage.track.counter,
                  })
                  td.col-2
                    a= "created: " + moment(webpage.createdAt).fromNow()
                    br
                    a= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss')
                    br
                    hr
                    a= "updated: " + moment(webpage.updatedAt).fromNow()
                    br
                    a= moment(webpage.updatedAt).format('YYYY-MM-DD HH:mm:ss')

                  td.col-3
                    a= "url: "
                    a(href=rootPath + "website/" +webpage._id) #{webpage.url}
                    if webpage.track
                      br
                      a= "counter: " + webpage.track.counter
                      br
                      a= "period: " + webpage.track.period
                      //br
                      //a= "option: " + JSON.stringify(webpage.track.option, null, ' ')

                  td.col-3
                    if webpage.last
                      a= "url: "
                      a(href=rootPath + "page/" + webpage.last._id)= webpage.last.url
                      br
                      a= "status: " + webpage.last.status
                      br
                      a= "error: " + webpage.last.error
                      br
                      a= "title: " + webpage.last.title
                      br
                      if webpage.last.content
                        a= "size: " + webpage.last.content.length
                        br
                  td.col-3
                    if webpage.last
                      if webpage.last.thumbnail
                        a.colorbox(href=rootPath + "screenshot/" +webpage.last.screenshot)
                          img(src="data:image/png;base64," + webpage.last.thumbnail)

                  td.col-1= webpage.track.tag
  else
    div.alert.alert-warning
      p No data