extends layout

block content
  h1 Website
  if website
      include include/sitemodal.pug
      .row
        .col-5
          h2
            a(href=rootPath + "website/" + website._id)= "URL: " +  website.url
          h6= "createdAt: " + website.createdAt
          h6= "updatedAt: " + website.updatedAt
        .col-7
          a.btn.btn-sm.btn-outline-primary(data-toggle="modal",data-target="#update_form", style="cursor:pointer;") track
          ///pre= JSON.stringify(website.track, null , "\t")
          pre= website.track

  if webpages
    h5= "total: " + webpages.length
    include include/table.pug
  else
      div.alert.alert-warning
        p No data