extends layout

block content
  if websites
      if websites.length >=0 
          if search
            h2= title + " Search: " + JSON.stringify(search) + " - total: " + websites.length
          else
            h2= title
          form.form-inline(method="get" action=rootPath+"search/website")
            input.form-control.mr-2.btn.btn-sm.btn-danger(type="submit" value="search")
            label.mr-2(for="rurl") url:  
            input.form-control.mr-2(type="text" name="rurl", id="rurl" placeholder='regex value' value=search?search.rurl:"")
            label.mr-2(for="tagkey") tag: 
            input.form-control.mr-2(type="text" name="tagkey", id="tagkey" placeholder='key' value=search?search.tagkey:"")
            label.mr-2(for="tagval") : 
            input.form-control.mr-2(type="text" name="tagval", id="tagval" placeholder='value' value=search?search.tagval:"")
            label.mr-2= " " 
            .form-check.mr-2
              label.form-check-label
                input.form-check-input(type="checkbox" name="track" id="track")
                a track
          table.table.table-bordered.table-sm
            tr.thead-light.d-flex
              th.col-3 capture
              th.col-2 timestamps
              th.col-5 site
              th.col-2 tag
            each webpage in websites
                if webpage.last
                  - var status = webpage.last.status || null
                  - var error = webpage.last.error || null
                tr.d-flex.page(value=webpage._id, class={
                  "table-info":webpage.track.counter,
                  "table-secondary":status>=400||error,
                  })
                  td.col-3
                    if webpage.last
                      if webpage.last.thumbnail
                        a.colorbox(href=rootPath + "screenshot/" +webpage.last.screenshot)
                          img(src="data:image/png;base64," + webpage.last.thumbnail)

                  td.col-2
                    a= "created: " + moment(webpage.createdAt).fromNow()
                    br
                    a= moment(webpage.createdAt).format('YYYY-MM-DD HH:mm:ss')
                    br
                    hr
                    a= "updated: " + moment(webpage.updatedAt).fromNow()
                    br
                    a= moment(webpage.updatedAt).format('YYYY-MM-DD HH:mm:ss')

                  td.col-5
                    a= "input: "
                    a(href=rootPath + "website/" +webpage._id) #{webpage.url}
                    a(href=rootPath + "search/website?url=" + encodeURIComponent(webpage.url)) 🔍
                    if webpage.track
                      br
                      a= "counter: " + webpage.track.counter + " / period: " + webpage.track.period

                    if webpage.last
                      hr
                      a= "result: "
                      a(href=rootPath + "page/" + webpage.last._id)= webpage.last.url
                      br
                      a= "status: " + webpage.last.status
                      if webpage.last.content
                        a= " / size: " + webpage.last.content.length
                      else
                        a= " / size: -"
                      if webpage.last.remoteAddress
                        a= " / ip: "
                        a(href=rootPath + "search/page?ip=" + webpage.last.remoteAddress.ip)= webpage.last.remoteAddress.ip
                        if webpage.last.remoteAddress.geoip.length
                          a= " - "
                          - var cc = webpage.last.remoteAddress.geoip[0].country
                          a(href=rootPath + "search/page?country=" + cc)= cc
 
                      br
                      a= "title: "
                      a(href=rootPath + "search/page?title=" + webpage.last.title)=  webpage.last.title
                      br
                      a error: #{webpage.last.error||"none"}
                      br
                  td.col-2
                    each tag in webpage.tag
                      each val, key in tag
                        a(href=rootPath + "search/website/?tagkey=" + key)= key
                        a= ":"
                        a(href=rootPath + "search/website/?tagkey=" + key + "&tagval=" + val)= val
                        br
  else
    div.alert.alert-warning
      p No data